{% extends 'base.html' %}

{% block title %}Ative sua Conta - Simulado{% endblock %}

{% block body_class %}pagina-login{% endblock %}

{% block content %}
<div class="login-box">
    <h2>Verifique seu e-mail</h2>
    {# Mesmo texto após o cadastro e após o reenvio: não revela quais e-mails têm conta no site #}
    <p class="login-texto">
        Enviamos um link de ativação para o e-mail informado. Clique nele para ativar sua conta e começar a estudar.
        O link vale por 24 horas. Confira também a caixa de spam.
    </p>
    <p class="login-link"><a href="{% url 'usuarios:reenviar_ativacao' %}">Não recebeu? Reenviar link de ativação</a></p>
    <p class="login-link"><a href="{% url 'usuarios:login' %}">Voltar para o login</a></p>
</div>
{% endblock %}
